:root {
  --pink: #f5b7b1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Mukta", sans-serif;
  background: #929292;
}

.title {
  color: #fff;
  font-size: 35px;
  text-align: center;
  margin-bottom: 70px;
  position: relative;
  font-size: 50px;
  margin-top: 55px;
}

header h1::selection {
  background: #bc4e9c;
}

header {
  width: 100%;
  height: 450px;
  background: #bc4e9c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
      to right,
      hsla(340, 95%, 50%, 0.61),
      hsla(317, 45%, 52%, 0.527)
    ),
    url(img/background.jpg); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
      to right,
      hsla(340, 95%, 50%, 0.61),
      hsla(317, 45%, 52%, 0.527)
    ),
    url(img/background.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-position-y: 450px;
}

.icon {
    position: relative;
    bottom: 200px;
    width: 150px;
}


nav {
    text-align: right;
    padding: 30px 50px 0 0;
    border-bottom: 3px solid #88fae1;
    display: inline-block;
    margin-left: 200px;
    font-size: 18px;
}

nav a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 20px;
}

nav a span{
  outline: 2px solid #88fae1;
  border-radius: 4px;
  font-weight: 600;
  background: #9935b3;
}

nav a:hover {
    text-decoration: underline;
    color: #ddd;
    font-size: 20px;
    transition: all 0.5s;
}

nav a:visited {
    text-decoration: none;
    color: #b9ffea;
}

header h1{
    font-size: 50px;
    color: #fff;
    font-family: 'Shizuru';
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

img {
  max-width: 250px;
}

h2 {
  color: #fff;
  font-size: 40px;
  text-align: center;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  border: 4px solid #9935b3;
  margin: 15px 350px 15px 350px;
  padding: 7px;
  border-radius: 8px;
}

h2::selection {
  background: #bc4e9c;
}

#love{
  padding: 15px;
  text-align: center;
  border: 5px solid #1f1f1f;
  border-radius: 10px;
  margin: 40px;
  display: flex;
  background: #64124d;
  color: #fff;
}

#love p::selection, b::selection, h3::selection {
  background: #bc4e9c;
}

#love p{
  margin: auto;
  font-size: 20px;
  margin-top: 50px;
  border-top: 2px solid #bc4e9c;
}

#love h3 {
  margin: auto;
  position: absolute;
  color: #fff;
  font-size: 20px;
  text-align: center;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  border: 4px solid #9935b3;
  padding: 7px;
  border-radius: 8px;
}

#love img {
  border: 3px solid #bc4e9c;
  margin: 25px;
  border-radius: 15px;
  object-fit: cover;
}


.separator {
  width: 75%;
  padding: 7px;
  border-radius: 20px;
  background: #3f3f3f;
  margin: auto;
  margin-bottom: 15px;
}

#goals{
  padding: 15px;
  text-align: center;
  border: 5px solid #1f1f1f;
  border-radius: 10px;
  margin: 40px;
  display: flex;
  background: #64124d;
  color: #fff;
}

#goals p::selection, b::selection, h3::selection {
  background: #bc4e9c;
}

#goals p{
  margin: auto;
  font-size: 20px;
  margin-top: 50px;
  border-top: 2px solid #bc4e9c;
}

#goals h3 {
  margin: auto;
  position: absolute;
  color: #fff;
  font-size: 20px;
  text-align: center;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  border: 4px solid #9935b3;
  padding: 7px;
  border-radius: 8px;
}

#goals img {
  border: 3px solid #bc4e9c;
  margin: 25px;
  border-radius: 15px;
  object-fit: cover;
}

#things-idl{
  padding: 15px;
  text-align: center;
  border: 5px solid #1f1f1f;
  border-radius: 10px;
  margin: 40px;
  display: flex;
  background: #64124d;
  color: #fff;
}

#things-idl p::selection, b::selection, h3::selection {
  background: #bc4e9c;
}

#things-idl p{
  margin: auto;
  font-size: 20px;
  margin-top: 50px;
  border-top: 2px solid #bc4e9c;
}

#things-idl h3 {
  margin: auto;
  position: absolute;
  color: #fff;
  font-size: 20px;
  text-align: center;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  border: 4px solid #9935b3;
  padding: 7px;
  border-radius: 8px;
}


#things-idl img {
  border: 3px solid #bc4e9c;
  margin: 25px;
  border-radius: 15px;
  object-fit: cover;
}

#things-ilfu{
  padding: 15px;
  text-align: center;
  border: 5px solid #1f1f1f;
  border-radius: 10px;
  margin: 40px;
  display: flex;
  background: #64124d;
  color: #fff;
}

#things-ilfu p::selection, b::selection, h3::selection {
  background: #bc4e9c;
}

#things-ilfu p{
  margin: auto;
  font-size: 20px;
  margin-top: 50px;
  border-top: 2px solid #bc4e9c;
}

#things-ilfu h3 {
  margin: auto;
  position: absolute;
  color: #fff;
  font-size: 20px;
  text-align: center;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  border: 4px solid #9935b3;
  padding: 7px;
  border-radius: 8px;
}


#things-ilfu img {
  border: 3px solid #bc4e9c;
  margin: 25px;
  border-radius: 15px;
  object-fit: cover;
}

#extras{
  padding: 15px;
  text-align: center;
  border: 5px solid #1f1f1f;
  border-radius: 10px;
  margin: 40px;
  display: flex;
  background: #64124d;
  color: #fff;
}

#extras p{
  margin: auto;
  font-size: 20px;
  margin-top: 50px;
  border-top: 2px solid #bc4e9c;
}

#extras p::selection, b::selection, h3::selection {
  background: #bc4e9c;
}

#extras h3 {
  margin: auto;
  position: absolute;
  color: #fff;
  font-size: 20px;
  text-align: center;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  border: 4px solid #9935b3;
  padding: 7px;
  border-radius: 8px;
}


#extras img {
  border: 3px solid #bc4e9c;
  margin: 25px;
  border-radius: 15px;
  object-fit: cover;
}

@media screen and (max-width:1440){
  nav {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav a {
    font-size: 14px;
    margin: auto;
  }
}




